html, body { height: 100%; }

.card-link{
  width: 150px;
  height: 150px;
  display: block;
  margin: 20px auto;
}
.card-radio-station{
  width: 100%;
  height: 100%;
  margin: 5px 10px;
  background-position: center, center;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-size: cover;
}
.card-link + .card-link {
  margin-left: auto;
}
@include respond-above(sm) {
  .card-link{
    width: 130px;
    height: 130px;
  }
  .card-radio-station{
    margin:0;
  }
}