.categories-tags-list__wrapper {
    overflow: auto;
    //&::-webkit-scrollbar {
    //    //width: 10px;
    //    height: 6px; }
    //&::-webkit-scrollbar-track {
    //}
    //&::-webkit-scrollbar-thumb {
    //    background: var(--primary-color);
    //    border-radius: 5px;
    //}
    &.text-white {
        .categories-tags-list__item {
            &.is-active, &:hover {
                background-color: #fff;
                color: var(--dark-color);
            }
        }
    }
}
.categories-tags-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 0 0 15px 0 ;
    justify-content: center;
}
.categories-tags-list__item {
    border-radius: 25px;
    background-color: transparent;
    margin: 5px 10px 5px 0;
    padding: 3px 12px;
    list-style-type: none;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    span{
        font-size: 18px;
    }
    &.is-active, &:hover {
        background-color: var(--dark-color);
        color: #fff;
    }
}
.categories-tags-list{
    flex-wrap: nowrap;
}
.main-wrapper{
    overflow: hidden;
}

.bg-transparent{
    .categories-tags-list__item:not(:last-child)
        span:before  {
        content: '';
        position: absolute;
        width: 1px;
        height: 18px;
        top: 8px;
        right: -7px;
        z-index: 999;
        background-color: #fff;
    }
}
@include respond-above(md) {
    .categories-tags-list {
        justify-content: space-between;
    }
    .topicroom-section {
        .topicroom-section__station-image {
            width: 110px;
            height: 110px;
        }
    }
}