.hash-tags-list__wrapper {

}
.hash-tags-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding: 15px 0;
}
.hash-tags-list__item {
    border-radius: 25px;
    background-color: #49c5e2;
    color: #fff;
    margin: 5px;
    padding: 3px 12px;
    list-style-type: none;
    cursor: pointer;
}