.like-list-wrapper {
    // margin: 40px 0;
}
.like-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    max-width: 800px;
}
.like-list__item {
    //margin-right: 20px;
    //margin-bottom: 20px;
    //border-radius: 25px;
    //padding: 11px 12px 8px 18px;
    //display: flex;
    //flex: 0 0 calc(100% / 3 - 20px);

    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding: 11px 39px 8px 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% / 3 - 20px);
    /* flex: 0 0 calc(100% / 3 - 20px); */
}
.like-list__text {
    font-weight: bold;
    //text-transform: capitalize;
    padding-right: 5px;
    //flex: 0 0 calc(100% - 24px);
    text-align: left;
    font-size: 18px;
    //white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    //overflow: hidden;
    //max-width: 194px;
}
.like-list__btn-close {
    border-radius: 50%;
    flex: 0 0 26px;
    height: 26px;
    position: relative;
    cursor: pointer;
    &:before, &:after {
        content: '';
        display: block;
        position: absolute;
        top: 11px;
        background-color: #fff;
        height: 4px;
        width: 68%;
        left: 4px;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}