.owl-wrapper{
  position: relative;
  display: flex;
  align-items: center;
  .owl-carousel .owl-stage {
    display: flex;
    justify-content: space-between;
  }
  .slider-btn-arrow {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
  }
  .prev{
    //left: -57px;
    left: -65px;
    transform: translate(0, -50%);
    .slider-btn-arrow__line {
      &:first-child, &:last-child {
        position: absolute;
        width: 70%;
        height: 6px;
        background-color: #000;
        border-radius: 0 50px 50px 0;
      }
      &:first-child {
        transform: translate(0, 11px) rotate(-45deg);
        top: 0;
      }
      &:last-child {
        transform: translate(0, -11px) rotate(45deg);
        bottom: 0;
      }
    }
  }
  .next{
    right: -26px;
    //transform: translate(0, -50%) rotate(180deg);
    .slider-btn-arrow__line {
      &:first-child, &:last-child {
        position: absolute;
        width: 70%;
        height: 6px;
        //background-color: #000;
        border-radius: 0 50px 50px 0;
      }
      &:first-child {
        transform: translate(0, 11px) rotate(-45deg);
        top: 0;
      }
      &:last-child {
        transform: translate(0, -11px) rotate(45deg);
        bottom: 0;
      }
    }
  }
}