.social-links{
  display: flex;
  a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    .font-awesome-icon {
      color: #fff;
    }
  }
}
.social-links.dark{
  a{
    background-color: var(--dark-color) !important;
    .font-awesome-icon {
      height: 60%;
    }
  }
  a:not(:first-child){
    margin-left: 10px;
  }
}
.social-links.light{
  background-color: inherit !important;
}
