<template>
    <b-row class="cards-list">
        <b-col offset-sm="0" lg="3" md="4" sm="6"  v-for="(card, index) in items" :key="index">
            <CardRoom :needShowAll="true" :card="card" class="px-0" :theme="theme" />
        </b-col>
        <b-col offset="2" offset-sm="2" offset-md="3" cols="8" lg="3" md="6" sm="8">
            <b-button to="/login" pill variant="primary" class="btn-default h3-title text-bold text-white w-100 mt-4">Show all {{selectedMoreName}}</b-button>
        </b-col>
    </b-row >
</template>
<script>
    import CardRoom from "@/components/modules/CardRoom";
    import CardViewerMixin from "@/components/mixins/CardViewerMixin";
    export default {
        mixins:[CardViewerMixin],
        props:{
            items:{
                type: Array,
                dafault: []
            },
            theme: {
                type: String,
                default: 'blue'
            },
            needShowAll: {
                type: Boolean,
                default: true
            },
            selectedMoreName: {
                type: String,
                default: ''
            },
        },
        components:{CardRoom},
        computed:{},
    }
</script>