<template>
    <router-link :to="`/radiostation/${card.id}`" class="card-link">
            <div class="card-room card-radio-station" v-if="card" :style="{ backgroundImage: 'url(' + imageRoomUrl + ')' }">
            </div>
    </router-link>
</template>

<script>
    export default {
        props: {
            card: {
                type: Object,
                default: () => {}
            }
        },
        computed: {
            titleRoom() {
                return this.card.title;
            },
            imageRoomUrl() {
                return this.card.imgURL;
            },
            // radiostationUrl() {
            //     return this.card.id;
            // }
        }
    };
</script>
