<template>
  <div class="categories-tags-list__wrapper">
    <ul class="categories-tags-list">
      <li 
        class="categories-tags-list__item "
        :class="{'is-active': selectedItem === item}"
        v-for="(item, key) in items" :key="key"
        @click="selectedTag(item)"
      >
        <span>{{ item }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    selectedItem: {
      type: String,
      default: ''
    },
    theme: {
      type: String,
      default: 'white'
    },
  },
  data:() => ({
    themes:{
      white:{
        wrapperClass: 'bg-white',
        pointerClass: 'bg-dark',
        pointerTextClass: 'bg-dark',
      },
      dark:{
        wrapperClass: 'bg-dark',
        pointerClass: 'bg-white',
        pointerTextClass: 'bg-white',
      },
      transparent:{
        wrapperClass: '',
        pointerClass: '',
        pointerTextClass: '',
      }
    }
  }),
  methods: {
    selectedTag(item) {
      this.$emit('selectedTag', item)
    }
  },
  computed: {
    themeClass() {
      return {
        wrapperClass: this.theme == 'white'
                ? 'bg-white'
                : 'bg-dark',
        pointeterClass: this.theme == 'white'
                ? 'bg-dark'
                : 'bg-white',
        pointeterTextClass: this.theme == 'white'
                ? 'bg-dark'
                : 'bg-white',
      };
    },
  }
};
</script>
