<template>
  <div class="hash-tags-list__wrapper">
    <ul class="hash-tags-list">
      <li class="hash-tags-list__item" v-for="(item, i) in items" :key="i">
        <span>#{{ item }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
};
</script>
