<template>
    <b-row class="justify-content-md-center">
        <b-col col xl="8" lg="10" >
            <div class="input-search-wrapper">
                <input class="input-search bg-secondary" type="text" :placeholder="placeholder">
                <font-awesome-icon class="font-awesome-icon" :icon="[ 'fas', 'search' ]"  />
            </div>
        </b-col>
    </b-row>
</template>
<script>
export default {
    name: "inputSearch",
    props: {
        placeholder: {
            type: String,
            default: 'search for topics, shows, persons etc...'
        }
    },
}

</script>