<template>
      <div class="categories-list__wrapper">
        <div class="categories-list d-flex justify-content-center">
          <div v-for="(item, i) in items" :key="i" class="categories-list__item">
            <router-link :to="`/categories/${item.route}`" class="categories-item__icon">
              <img :src="item.imgUrl" alt />
            </router-link>
            <router-link
              :to="`/categories/${item.route}`"
              class="categories-item__title">
              {{ item.title }}
            </router-link>
          </div>
        </div>
      </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    }
  }
};
</script>
