<template>
  <section>
    <b-container>

    </b-container>
  </section>
</template>

<script>
export default {
    props: {
        pageTitle: {
            type: 'String',
            default: ''
        },
        cards: {
            type: Array,
            default: () => []
        }
    },
    data: () => ({
        
    })
}
</script>