<template>
  <section class="section-offset user-settings">
    <ValidationObserver v-slot="{ handleSubmit, invalid }">
      <form class="settings__form"  @submit.prevent="handleSubmit(submit)">
        <b-container>
          <b-row class="setting-wrap">
            <b-col>
              <h3 class="h3-title text-left mb-3">
                Your likes
              </h3>
              <LovesTagsList theme="likes" :items="lovesTags" @removeItem="removeLovesTag($event)"/>
            </b-col>
            <button class="upd-button" type="submit">update</button>
          </b-row>
          <b-row>
            <b-col>
              <h3 class="h3-title text-left mb-3">Your dislikes</h3>
              <LovesTagsList theme="dislikes" :items="lovesTags" @removeItem="removeLovesTag($event)"/>
            </b-col>
          </b-row>
        </b-container>
      </form>
    </ValidationObserver>
  </section>
</template>

<script>
import { cardRooms } from "@/staticData/sections";
import LovesTagsList from "@/components/modules/LovesTagsList";
export default {
  components: { LovesTagsList },
  data: () => ({
  }),
  mounted() {
  },
  methods: {
    removeLovesTag(id) {
      this.lovesTags = this.lovesTags.filter(item => item.id != id);
    }
  },
  computed: {
    lovesTags(){
      return cardRooms.map(item => ({
        id: item.id,
        name: item.title.split(" ")[0],
      }));
    }
  },
}
</script>

<style>

</style>