<template>
  <MainLayout>
    <SecLayout name="tags-list" theme="primary" :title="['What are you looking for?']">
      <InputSearch/>
      <span class="h3-title text-white">Popular searches</span>
      <HashTagsList :items="hashTagsList" />
    </SecLayout>
    <section v-for="(rowPosts, index) in formatPosts" :key="index" class="py-2" :class="getBgSection(index)">
      <b-container>
        <b-row>
          <b-col lg="3" md="4" sm="6" v-for="(card, key) in rowPosts" :key="key">
            <CardRoom :card="card" />
          </b-col>
        </b-row>
      </b-container>
    </section>
    <BottomSections />
  </MainLayout>
</template>

<script>
  import { cardRooms, secCategories, catTags  } from "@/staticData/sections";
// import { cardRooms } from "@/staticData/sections";
import MainLayout from "@/layout/MainLayout";
import SecLayout from "@/layout/SectionLayout";
import HashTagsList from "@/components/modules/HashTagsList";
// import CardsList from "@/components/modules/CardsList";
import BottomSections from "@/layout/BottomSections";
import InputSearch from "@//components/modules/InputSearch";
  import CardRoom from "@/components/modules/CardRoom";
import _ from "lodash";
export default {
  components: {
    MainLayout,
    HashTagsList,
    SecLayout,
    // CardsList,
    CardRoom,
    BottomSections,
    InputSearch
  },
  data: () => ({
    hashTagsList: ['test', 'test', 'test', 'test'],
    categoriesTagsList: secCategories
  }),
  computed: {
    cards() {
      return cardRooms
    },
    formatPosts(){
      return _.chunk(cardRooms, 4);
    },
    cardRooms() {
      return cardRooms;
    },
    catTags() {
      return catTags;
    },
  },
  methods:{
    even(n){
      return !(n % 2);
    },
    getBgSection(n){
      return this.even(n) ? 'bg-lightgrey' : 'bg-white' ;
    },
    getBgWrapper(n){
      return this.even(n) ? 'even' : '';
    }
  },
}
</script>
