<template>
  <MainLayout>
    <!-- Slider -->
    <SecLayout
            theme="primary"
            name="search-slider"
            :title="title"
    >
      <SliderSimple theme="white" :items="sliderCardRooms" v-if="!isMobile"/>
    </SecLayout>
    <SecLayout
            name="cat-slider"
            :title="['the best of', 'economics']"
            :categoriesTagsItems="catTags"
            @selectedCategoryTag="getSliderData1($event)"
    >
<!--      <SliderSimple :items="sliderCardRooms" />-->

      <CardListMobile v-if="isMobile"
                      :items="sliderCardRooms"
                      selectedMoreName="economics"
      />
      <SliderSimple v-else
                    :items="sliderCardRooms"
                    selectedMoreName="economics"
                    :needShowAll=true
      />
    </SecLayout>
    <!-- Slider two rows -->
    <SecLayout
            name="cat-slider-rows"
            theme="secondary"
            :title="['the best', 'food', 'radiorooms']"
            :categoriesTagsItems="catTags"
            @selectedCategoryTag="getSliderData2($event)"
    >
<!--      <SliderMultiple-->
<!--              theme="white"-->
<!--              :items="radiostations"/>-->
      <MultipleMobile  v-if="isMobile"
                       :items="radiostations"
      />
      <SliderMultiple
              v-else
              theme="white"
              :items="radiostations"
      />
    </SecLayout>

    <BottomSections />
  </MainLayout>
</template>

<script>
import { catTags, cardRooms, radiostations } from "@/staticData/sections";
import MainLayout from "@/layout/MainLayout";
import SecLayout from "@/layout/SectionLayout";
import BottomSections from "@/layout/BottomSections";
import SliderSimple from "@//components/modules/SliderSimple";
import SliderMultiple from "@//components/modules/SliderMultiple";
import CardListMobile from "@//components/modules/CardListMobile";
import ScreenMixin from "@//components/mixins/ScreenMixin";
import MultipleMobile from "@//components/modules/MultipleMobile";
export default {
  mixins: [ScreenMixin],
    components: {
      MainLayout,
      SecLayout,
      BottomSections,
      /* Categories,
      SecMobileApp,
      SecFonodioPlus, */
      SliderSimple,
      SliderMultiple,
      CardListMobile,
      MultipleMobile
    },
  data: () => ({
    title: ['Hi', 'Oleg', 'your pics for today']
  }),
  methods: {
    getSliderData1(selectedCategoryTag) {
      alert(selectedCategoryTag);
    },
    getSliderData2(selectedCategoryTag) {
      alert(selectedCategoryTag);
    }
  },
  computed: {
    catTags() {
      return catTags;
    },
    sliderCardRooms() {
      return cardRooms;
    },
    radiostations() {
      radiostations.map(() => {

      });
      return radiostations;
    }
  }
}
</script>