<template>
  <audio v-if="audioUrl" controls :src="audioUrl">
    Your browser does not support the <code>audio</code> element.
  </audio>
</template>

<script>
export default {
    props: {
        audioUrl: {
            type: String,
            default: ''
        }
    }
}
</script>

<style>

</style>