<template>
  <footer class="main-footer">
    <b-container>
      <b-row>
        <b-col cols="4" class="d-flex align-items-center ">
          <div class="logo logo-footer">
            <img src="../static/svg/logo-fonodio-white.svg" alt="fonodio">
          </div>
        </b-col>
        <b-col cols="8" class="d-flex justify-content-end align-items-center">
          <nav class="footer__additional-links d-none d-md-block d-lg-block d-xl-block">
            <router-link to="/help" class="link">help</router-link>
            <router-link to="/about" class="link">about</router-link>
            <router-link to="/privacy" class="link">privacy</router-link>
          </nav>

          <SocialIcons  theme="light" />
        </b-col>
      </b-row>
      <b-row  >
        <b-col>
          <div >
            <nav class="footer__additional-links d-md-none d-lg-none d-xl-none justify-content-start">
              <router-link to="/help" class="link">help</router-link>
              <router-link to="/about" class="link">about</router-link>
              <router-link to="/privacy" class="link">privacy</router-link>
            </nav>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </footer>
</template>

<script>
import SocialIcons from "@/components/modules/SocialIcons";
export default {
  components: {
    SocialIcons,
  },
}
</script>