<template>
  <header>
    <div class="header-menu" :class="isOpen ? 'open' : ''">
      <div class="shell">
        <ul>
          <li>
            <router-link to="/about" class="link text-bold">about</router-link>
          </li>
          <li>
            <router-link to="/register" class="link  text-bold">register</router-link>
          </li>
          <li>
            <router-link to="/privacy" class="link  text-bold">privacy</router-link>
          </li>
          <li>
            <router-link to="/account/settings" class="link  text-bold">my account</router-link>
          </li>
        </ul>
        <nav class="helper-links footer__additional-links mr-0 d-md-none d-lg-none d-xl-none justify-content-center">
          <router-link to="/help" class="link">help</router-link>
          <router-link to="/about" class="link">about</router-link>
          <router-link to="/privacy" class="link">privacy</router-link>
          <router-link to="/contact" class="link">contact</router-link>
        </nav>
        <div class="d-flex justify-content-center">
          <SocialIcons />
        </div>
      </div>
    </div>
    <div  class="main-header" >
      <b-container>
        <b-row>
          <b-col  cols="4" class="text-left">
            <router-link to="/" class="logo logo-header">
              <img src="../static/svg/logo-fonodio-white.svg" alt="fonodio">
            </router-link>
          </b-col>
          <b-col cols="8">
            <div class="d-flex justify-content-end align-items-center h-100">
              <router-link to="/search" >
                  <font-awesome-icon class="font-awesome-icon" :icon="[ 'fas', 'search' ]"  />
              </router-link>
              <div class="d-none d-md-block d-lg-block d-xl-block">
                <b-button to="/register" pill variant="light" class="ml-3 text-bold">register</b-button>
                <b-button to="/get-the-app" pill variant="dark" class="ml-3 text-bold">get the app</b-button>
                <b-button to="/login" pill variant="light" class="ml-3 btn-default text-bold text-white">login</b-button>
              </div>
              <div class="d-block d-lg-none d-md-none d-xl-none ml-2">
                <div v-if="isOpen">
                  <font-awesome-icon class="font-awesome-icon" :icon="[ 'fas', 'times' ]" @click="onClickMenu()" />
                </div>
                <div v-else>
                  <font-awesome-icon class="font-awesome-icon" :icon="[ 'fas', 'bars' ]" @click="onClickMenu()" />
                </div>
              </div>
            </div>
          </b-col>
        </b-row>
      </b-container>
    </div>
    <SecLayout
            ref="categories"
            v-if="needHeaderCategories"
            name="header-categories"
            theme="transparent"
            :py=1
            :categoriesTagsItems="categoriesTagsList"
            @selectedCategoryTag="getSliderData2($event)"
    >
    </SecLayout>
  </header>
</template>
<script>
  import { catTags  } from "@/staticData/sections";
  import { getImagePath } from "@/staticData/helpers";
  import SecLayout from "@/layout/SectionLayout";
  import SocialIcons from "@/components/modules/SocialIcons";
export default {
  components: {
    SecLayout,
    SocialIcons
  },
  data: () => ({
    categoriesTagsList: catTags,
    offsetTop: null,
  }),
    methods: {
      onClickMenu(){
        const state = !this.isOpen;
        document.documentElement.style.overflow = (state) ? 'hidden' : 'auto';
        this.$store.dispatch('set_is_open', state);
      },
        getImagePath(img){
            return getImagePath(img);
        },
      getCategoriesHeight(){
        if(this.$route.meta.needHeaderCategories){
          this.$emit('getCategoriesHeight', !!this.$refs.categories && this.$refs.categories.$el.offsetHeight)
        }
      },
      changeClass() {
        const menu = this.$refs.categories;

        if (window.pageYOffset >  this.offsetTop) {

          !!menu && menu.$el.classList.add("sticky");
        } else {
          !!menu && menu.$el.classList.remove("sticky");
        }
      }
    },
  computed:{
    isOpen(){
      return this.$store.state.isOpen;
    },
    needHeaderCategories() {
      return this.$route.meta.needHeaderCategories;
    },
    fixed() {
      return this.$route.meta.fixed;
    },
  },
  mounted() {
    this.getCategoriesHeight();

    this.offsetTop = !!this.$refs.categories && this.$refs.categories.$el.offsetTop;
    addEventListener('scroll', () => {
      this.changeClass();
    });
  }
};
</script>