.auth-background {
    height: 100%;
    background-image: url('../../static/img/bg-login.jpg');
    background-size: cover;
    position: relative;
    &:before{
        background-color: rgba(36,55,58,0.79);
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        mix-blend-mode: multiply;
    }
}
.auth-container {
    max-width: 310px;
    min-width: 310px;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px 25px 35px;
    flex: 0 0 330px;
    z-index: 99;
    position: relative;
}
.logo-company{
    width: 100%;
    padding: 20px 0 50px 0;
    z-index: 99;
    position: relative;
    img{
        height: 30px;
    }
}
.auth__title {
    display: block;
    margin-bottom: 20px;
    font-size: 41px;
    font-weight: bold;
}
.auth__link {
    display: block;
}
.auth__btns-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth__form{
    align-items: center;
    input::placeholder {
        color: var(--dark-color);
        font-size: 18px;
        line-height: 18px;
    }
    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--dark-color);
        font-size: 20px;
    }
    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: var(--dark-color);
        font-size: 20px;
    }
    button{
        display: inline;
        width: 50%;
        background-color: var(--primary-color) !important;
        border: 1px solid var(--primary-color) !important;
        &:hover{
            background-color: var(--primary-color);
            border: 1px solid var(--primary-color);
        }
    }
}

@include respond-above(sm) {
    .shell{
        .logo-company{
            padding: 15px 0 20px 0;
        }
    }
    .auth-container{
        min-width: 290px;
        padding: 20px 20px;
    }

}