.account-details__btns {
    display: flex;
    flex-direction: column;
    max-width: calc(862px / 3 - 20px);
}
.input-wrapper{
    position: relative;
    margin-bottom: 20px !important;
    .error{
        position: absolute;
        bottom: -17px;
        color: var(--red);
        font-size: 12px;
    }
}