.radiocast-section{
  background-image: url('../../static/img/meerenbetergolf.jpg');
  background-size: cover;
  position: relative;
  h1{
    font-size: 49px;
    line-height: 58px;
    margin-bottom: 30px;
  }
  &:before{
    top: 0;
    background-color: rgba(57, 74, 77, .9);
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    mix-blend-mode: multiply;
  }
  .container{
    padding: 30px 15px 70px 15px;
  }
  .radiocast-section__cast-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    img{
      width: 90px;
      height: 90px;
      margin-right: 30px;
    }
    .radiocast-section__station-info{
      display: flex;
      padding-top: 0;
      color: #fff;
      text-align: left;
    }
  }
}
audio{
  padding: 0;
}
.longest{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrap-longest{
    div:first-child {
      line-height: 39px;
      font-size: 39px
    }
    div:last-child {
      font-size: 25px;
      line-height: 25px;
    }
  }
}
@include respond-above(sm) {
  .radiocast-section {
    h1 {
      font-size: 28px;
      line-height: 31px;
    }
    .radiocast-section__station-info{
      padding-top: 0;
    }
    .radiocast-section__cast-info {
      img {
        width: 65px;
        height: 65px;
        flex: 0 0 65px;
      }
      .longest {
        height: 65px;
        width: 65px;
        .wrap-longest {
          div:first-child {
            font-size: 23px;
            line-height: 23px;
          }
          div:last-child {
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
  }
}
@include respond-above(xs) {
  .radiocast-section {
    .radiocast-section__cast-info {
      img {
        margin-right: 15px;
      }
    }
  }
}