.radoiroom-section{
  padding: 20px 0 50px 0;
  margin-top: 20px;
}

//.radoiroom-section .even{
//    &:before{
//      content: '';
//    margin-bottom: 50px;
//    background-color: var(--light-grey-color);
//    }
//}