header{
    position: relative;
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        height: fit-content;
    }
}
.main-header {
    background-color: var(--primary-color);
    padding: 18px 0;
    font-weight: bold;
    position: relative;
    .font-awesome-icon{
        font-size: 20px;
        color: #fff;
        &:hover {
            font-size: 20px;
            color: #fff;
        }
    }
}
.small-search{
    height: 18px;
    width: 18px;
}
.section-header-categories{
    padding: 20px 0;
    .categories-tags-list {
        padding: 0;
    }
}
.navbar {
    padding: 0;
}
.header-menu{
    position: absolute;
    width: 100%;
    min-height: calc(100vh - 75px);
    right: -100%;
    z-index: 999;
    top: 75px;
    transition: 0.5s;
    animation-duration: 4s;
    background-color: var(--primary-color);
    left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .shell{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: calc(100vh - 75px);
        padding: 20px 0 100px 0;
    }
    ul{
        padding: 0;
        margin: auto 0;
        li{
            list-style: none;
            a{
                font-size: 49px;
                line-height: 61px;
                color: #FFF;
            }
        }
    }
    .helper-links{
        margin-bottom: 50px;
    }
}
.header-menu.open{
    right: 0px;
}
@include respond-above(md) {
    header{
        .navbar-dark .navbar-toggler{
            border-color: none;
            color: #fff;
        }
        .navbar-collapse{
            width: 100%;
            position: absolute;
            left: 0px;
            top: 100%;
            background: rgb(80, 184, 219);
            z-index: 999;
        }
        .nav-link{
            text-align: center;
            a.btn{
                margin-right: 0 !important;
            }
        }
    }
}

