<template>
  <AuthLayout :title="title">
    <p class="mb-5" >Get an account to get radiocasts of your liking. Save and listen them on every device.</p>
    <div class="auth__btns-auth">
      <b-button to="/register" pill class="btn-dark mb-3 text-bold fs-26">register</b-button>
      <b-button to="/login" pill class="btn-without-bg  text-bold fs-26">login</b-button>
    </div>
  </AuthLayout>
</template>

<script>
import AuthLayout from "@/layout/AuthLayout"
export default {
  components: {AuthLayout},
  data: () => ({
    title: ['fonodio']
  })
}
</script>

<style>

</style>