<template>
  <div class="auth-background d-flex justify-content-center align-items-center flex-wrap">
      <div class="shell">
            <div class="logo-company">
              <img src="../static/svg/logo-fonodio-white.svg" alt="fonodio">
            </div>
            <div class="auth-container">
                <span class="auth__title">
                    <template v-if="title.length === 2">
                        <span class="text-dark">{{title[0]}} </span>
                        <span class="text-primary">{{title[1]}}</span>
                    </template>

                    <template v-if="title.length === 1">
                        <span class="text-primary fs-32">{{title[0]}}</span>
                    </template>
                </span>
                <slot/>
            </div>
      </div>
  </div>
</template>

<script>
export default {
    props: {
        title: {
            type: Array,
            default: () => []
        }
    }
}
</script>

<style>

</style>