<template>
  <div class="main-wrapper">
    <AppHeader @getCategoriesHeight="$emit('getCategoriesHeight', $event)"/>
    <div class="main">
      <slot></slot>
    </div>
    <AppFooter />
  </div>
</template>

<script>
import AppHeader from "@/components/Header";
import AppFooter from "@/components/Footer";
export default {
  components: {
    AppHeader,
    AppFooter
  },
};
</script>